@import './index.scss';

.App {
    background: $primaryGreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex-flow: wrap;
    width: 800px;
  
};
// .workoutModal {
//     width: 100px;

// }


